* {
  box-sizing: border-box;
}
.header {
  height: 40px;
  background-color: yellow;
  display: flex;
  align-items: center;
}
.footer {
  height: 40px;
  background-color: green;
  display: flex;
}
.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.navigation__item {
  margin-left: 16px;
}
.footer__text {
  margin: auto;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
  display: flex;
}
.dashboard {
  display: flex;
  flex-grow: 1;
  background-color: pink;
  justify-content: center;
  align-items: center;
}
.news {
  width: 200px;
  background-color: grey;
}
.news__title {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}
.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 40px;
}
.news__list-item {
  margin-left: 16px;
}
