* {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
}
.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  min-width: calc(100% - 300px / 2);
}
.article-list {
  display: flex;
  flex-wrap: wrap;
}
