* {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
}
.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex-grow: 1;
  width: 300px;
}
.articles-list {
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
}
